<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">MySql020486</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/billing</property>
        <property name="hibernate.connection.username">root</property>
        
        <mapping resource="co/com/soinsoftware/billing/entity/Company.hbm.xml"/>
        <mapping resource="co/com/soinsoftware/billing/entity/Configuration.hbm.xml"/>
        <mapping resource="co/com/soinsoftware/billing/entity/Item.hbm.xml"/>
        <mapping resource="co/com/soinsoftware/billing/entity/Itemconcept.hbm.xml"/>
        <mapping resource="co/com/soinsoftware/billing/entity/Receipt.hbm.xml"/>
        <mapping resource="co/com/soinsoftware/billing/entity/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
